/* Catppuccin Mocha */

@define-color base   #1e1e2e;
@define-color mantle #181825;
@define-color crust  #11111b;

@define-color text     #cdd6f4;
@define-color subtext0 #a6adc8;
@define-color subtext1 #bac2de;

@define-color surface0 #313244;
@define-color surface1 #45475a;
@define-color surface2 #585b70;

@define-color overlay0 #6c7086;
@define-color overlay1 #7f849c;
@define-color overlay2 #9399b2;

@define-color blue      #89b4fa;
@define-color lavender  #b4befe;
@define-color sapphire  #74c7ec;
@define-color sky       #89dceb;
@define-color teal      #94e2d5;
@define-color green     #a6e3a1;
@define-color yellow    #f9e2af;
@define-color peach     #fab387;
@define-color maroon    #eba0ac;
@define-color red       #f38ba8;
@define-color mauve     #cba6f7;
@define-color pink      #f5c2e7;
@define-color flamingo  #f2cdcd;
@define-color rosewater #f5e0dc;

window {
    background-color: @base;
    opacity: 0.9;
}

button {
    color: @text;
    background-color: @surface0;
    border:  2px solid @mantle;
    border-radius: 20px;
    padding: 10px;

    background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;
    transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

button label.action-name {
    font-size: 20px;
}

button label.keybind {
    font-size: 20px;
    font-family: monospace;
}

button:hover label.keybind, button:focus label.keybind {
    opacity: 0.9;
}

button:hover,
button:focus,
button:active {
    color: @blue;
    background-color: @surface1;
    border-color: @mauve;
    outline-style: none;
}