/* Catppuccin Mocha */

@define-color base   #1e1e2e;
@define-color mantle #181825;
@define-color crust  #11111b;

@define-color text     #cdd6f4;
@define-color subtext0 #a6adc8;
@define-color subtext1 #bac2de;

@define-color surface0 #313244;
@define-color surface1 #45475a;
@define-color surface2 #585b70;

@define-color overlay0 #6c7086;
@define-color overlay1 #7f849c;
@define-color overlay2 #9399b2;

@define-color blue      #89b4fa;
@define-color lavender  #b4befe;
@define-color sapphire  #74c7ec;
@define-color sky       #89dceb;
@define-color teal      #94e2d5;
@define-color green     #a6e3a1;
@define-color yellow    #f9e2af;
@define-color peach     #fab387;
@define-color maroon    #eba0ac;
@define-color red       #f38ba8;
@define-color mauve     #cba6f7;
@define-color pink      #f5c2e7;
@define-color flamingo  #f2cdcd;
@define-color rosewater #f5e0dc;

/*
 参考: https://github.com/LinuxBeginnings/Hyprland-Dots/tree/main/config/waybar/style
*/

* {
	font-family: "FiraCode Nerd Font Mono";
	font-weight: bold;
	font-size: 13px;
	min-height: 0;
	border: none;
  border-radius: 0;
}


window#waybar {
	transition-property: background-color;
  	transition-duration: 0.5s;
  	background-color: alpha(@base, 0.4);
}

tooltip {
  background:  alpha(@base, 0.85);
  opacity: 1;
  border: 2px solid @sapphire;
  border-radius: 10px;
}

tooltip label {
  color: @text;
}

#taskbar button,
#workspaces button {
  color: @overlay2;
  box-shadow: none;
  text-shadow: none;
  padding: 0px;
  border-radius: 9px;
  padding-left: 4px;
  padding-right: 4px;
  animation: gradient_f 20s ease-in infinite;
  transition: all 0.5s cubic-bezier(.55,-0.68,.48,1.682);
}

#taskbar button:hover,
#workspaces button:hover {
	color: @peach;
	background-color: @surface1;
	border-radius: 10px;
 	padding-left: 2px;
  padding-right: 2px;
  animation: gradient_f 20s ease-in infinite;
  transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

#workspaces button.persistent {
	color: @surface1;
	border-radius: 10px;
}

#taskbar button.active,
#workspaces button.active {
	color: @mauve;
	background-color: @surface2;
  border-radius: 10px;
  padding-left: 8px;
  padding-right: 8px;
  animation: gradient_f 20s ease-in infinite;
  transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

#workspaces button.urgent {
	color: @red;
 	border-radius: 10px;
}

#windowcount {
  background-color: @surface1;   
  color: @mauve;         
  padding-left: 6px;
  padding-right: 6px;
  margin: 4px 0px;
  border-radius: 10px;       
  font-weight: bold;
  transition: all 0.3s ease;   
}

#windowcount:hover {
  background-color: #bb9af7;
  color: #15161e;
}

#backlight,
#backlight-slider,
#battery,
#bluetooth,
#clock,
#cpu,
#custom-gpu,
#disk,
#idle_inhibitor,
#keyboard-state,
#mode,
#mpris,
#network,
#power-profiles-daemon,
#pulseaudio,
#pulseaudio-slider,
#taskbar button,
#taskbar,
#temperature,
#tray,
#window,
#wireplumber,
#windowcount,
#workspaces,
#custom-separator,
#custom-backlight,
#custom-nightlight,
#custom-browser,
#custom-cava_mviz,
#custom-cycle_wall,
#custom-dot_update,
#custom-file_manager,
#custom-keybinds,
#custom-keyboard,
#custom-light_dark,
#custom-nightlight,
#custom-lock,
#custom-hint,
#custom-hypridle,
#custom-menu,
#custom-playerctl,
#custom-power_vertical,
#custom-power,
#custom-quit,
#custom-reboot,
#custom-settings,
#custom-spotify,
#custom-swaync,
#custom-tty,
#custom-updater,
#custom-hyprpicker,
#custom-weather,
#custom-weather2,
#custom-weather.clearNight,
#custom-weather.cloudyFoggyDay,
#custom-weather.cloudyFoggyNight,
#custom-weather.default, 
#custom-weather.rainyDay,
#custom-weather.rainyNight,
#custom-weather.severe,
#custom-weather.showyIcyDay,
#custom-weather.snowyIcyNight,
#custom-weather.sunnyDay {
  opacity: 1;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 6px;
  padding-left: 6px;
}

#custom-separator {
  color: @overlay1;
}

#idle_inhibitor {
  color: @pink;
  border-bottom: 8px solid rgba(0, 0, 0, 0.2);
}

#mpris {
  color: @rosewater;
}

#battery {
  color: #a6e3a1;
  padding-left: 15px;
  border-radius: 15px 0 0 15px;
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: #333333;
  }
}

#battery.critical:not(.charging) {
  color: #f53c3c;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#custom-lock,
#custom-power {
  color: @red;
  border-radius: 15px;
  font-weight: bolder;
  padding-left: 1px;
}

#network {
  background-color: transparent;
  color: @text;
}

#backlight {
  color: @flamingo;
}


#custom-weather {
  color: @blue;
  border-radius: 15px;
  background-color: transparent;
}

#custom-menu {
  color: #89b4fa;
}

#pulseaudio {
  background-color: transparent;
}


#clock,
#clock-calender {
  color: @text;
}


#backlight-slider slider,
#pulseaudio-slider slider {
  min-height: 7px;
  min-width: 15px;
  opacity: 0;
  background-color: @text;
  border-radius: 3px;
  box-shadow: 1px 5px 6px 1px #272727;
}

#backlight-slider trough,
#pulseaudio-slider trough {
  min-height: 100px;
  min-width: 7px;
  border-radius: 5px;
  background-color: @surface0;
}

window#waybar.bottombar #backlight-slider trough,
window#waybar.bottombar #pulseaudio-slider trough {
  min-height: 7px;
}

#backlight-slider highlight,
#pulseaudio-slider highlight {
  min-width: 5px;
  border-radius: 5px;
  background-color: @blue;
}