// <Anyrun config dir>/ssh-pattern.ron
Config(
  // The prefix that triggers the plugin
  prefix: "/",
  // The delimiter to select the terminal.
  terminal_delimiter: '>',
  // The default terminal to use for SSH commands
  // Leave as None to use first available terminal
  terminal: None,
 // Additional custom terminals
  terminals: [
  //   Terminal(
  //     key: "a",
  //     command: "alacritty",
  //     args: "-e {}",
  //   ),
  ],
  // Maximum number of entries to return
  max_entries: 6,
  // Paths to SSH config files
  ssh_config_paths: ["~/.ssh/config"],
)