Config(
  prefix: "?",
  // Options: Google, Ecosia, Bing, DuckDuckGo, Custom
  engines: [
    Custom(
      name: " Google",
      url: "www.google.com/search?q={}",
    ),
    Custom(
      name: "󰖟 Baidu",
      url: "www.baidu.com/s?wd={}",
    ),
    Custom(
      name: " Github Repositories",
      url: "github.com/search?q={}&type=repositories",
    ),
    Custom(
      name: " NixOS Packages",
      url: "search.nixos.org/packages?channel=unstable&query={}",
    ),
    Custom(
      name: " Flathub Apps",
      url: "flathub.org/zh-Hans/apps/search?q={}",
    ),
    Custom(
      name: "󱘗 Rust Crates",
      url: "crates.io/search?q={}",
    ),
    Custom(
      name: " Rust Docs",
      url: "docs.rs/releases/search?query={}",
    ),
  ],
)