/* Catppuccin Mocha */

@define-color base   #1e1e2e;
@define-color mantle #181825;
@define-color crust  #11111b;

@define-color text     #cdd6f4;
@define-color subtext0 #a6adc8;
@define-color subtext1 #bac2de;

@define-color surface0 #313244;
@define-color surface1 #45475a;
@define-color surface2 #585b70;

@define-color overlay0 #6c7086;
@define-color overlay1 #7f849c;
@define-color overlay2 #9399b2;

@define-color blue      #89b4fa;
@define-color lavender  #b4befe;
@define-color sapphire  #74c7ec;
@define-color sky       #89dceb;
@define-color teal      #94e2d5;
@define-color green     #a6e3a1;
@define-color yellow    #f9e2af;
@define-color peach     #fab387;
@define-color maroon    #eba0ac;
@define-color red       #f38ba8;
@define-color mauve     #cba6f7;
@define-color pink      #f5c2e7;
@define-color flamingo  #f2cdcd;
@define-color rosewater #f5e0dc;

@define-color background rgba(30, 30, 30, 0.9); /* base opacity */
@define-color accent rgba(203, 166, 247, 0.9); /* mauve opacity */
@define-color current-line rgba(69, 71, 90, 0.95); /* surface1 opacity */

.notification {
  transition: all 200ms ease;
  border-radius: 8px;
  margin: 5px;
  /*box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.5);*/
  box-shadow: none;
  padding: 0;
  background: transparent;
}

.notification-row {
  transition: all 200ms ease;
  outline: none;
  margin: 2px;
  border-radius: 8px;
  background: transparent;
}

.notification-row:focus .notification,
.notification-row:hover .notification {
  box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.5);
  border: 0px solid @accent;
	background: transparent;
}

.notification-content {
  background: transparent;
  padding: 6px;
  border-radius: 8px;
}

.control-center .notification-row:focus,
.control-center .notification-row:hover {
	opacity: 1;
	background: transparent;
}

.control-center .notification {
  box-shadow: none;
}

.control-center .notification-row {
	opacity: 0.5;
	margin: -5px;
}

/* Uncomment to enable specific urgency colors
.low {
  background: yellow;
  padding: 6px;
  border-radius: 12px;
}
.normal {
  background: green;
  padding: 6px;
  border-radius: 12px;
}
.critical {
  background: red;
  padding: 6px;
  border-radius: 12px;
}
*/

.close-button {
  background: @current-line;
  color: @text;
  text-shadow: none;
  padding: 0;
  border-radius: 100%;
  margin-top: 17px;
  margin-right: 10px;
  box-shadow: none;
  border: none;
  min-width: 24px;
  min-height: 24px;
}

.close-button:hover {
  box-shadow: none;
  background: @subtext0;
  transition: all 0.15s ease-in-out;
  border: none;
}

.notification-default-action,
.notification-action {
  padding: 4px;
  margin: 0;
  box-shadow: none;
  background: @background;
  border: 2px solid @accent;
  color: @text;
}

.notification-default-action:hover,
.notification-action:hover {
  -gtk-icon-effect: none;
  background: @current-line;
}

.notification-default-action {
  border-radius: 8px;
}

/* When alternative actions are visible */
.notification-default-action:not(:only-child) {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.notification-action {
  border-radius: 0px;
  border-top: none;
  border-right: none;
}

/* add bottom border radius to eliminate clipping */
.notification-action:first-child {
  border-bottom-left-radius: 8px;
}

.notification-action:last-child {
  border-bottom-right-radius: 8px;
  border-right: 1px solid @accent;
}

.image {
}

.body-image {
  margin-top: 6px;
  background-color: @text;
  border-radius: 8px;
}

.summary {
  font-size: 14px;
  font-weight: bold;
  background: transparent;
  color: @text;
  text-shadow: none;
}

.time {
  font-size: 14px;
  font-weight: bold;
  background: transparent;
  color: @text;
  text-shadow: none;
  margin-right: 18px;
}

.body {
  font-size: 15px;
  font-weight: normal;
  background: transparent;
  color: @text;
  text-shadow: none;
}

/* The "Notifications" and "Do Not Disturb" text widget */
.top-action-title {
  color: @text;
  text-shadow: none;
}

.control-center-clear-all {
  color: @text;
  text-shadow: none;
  background: @background;
  border: 2px solid @accent;
  box-shadow: none;
  border-radius: 8px;
}

.control-center-clear-all:hover {
  background: @background;
}

.control-center-dnd {
  border-radius: 8px;
  background: @background;
  border: 1px solid @accent;
  box-shadow: none;
}

.control-center-dnd:checked {
  background: @accent;
}

.control-center-dnd slider {
  background: @background;
  border-radius: 8px;
}

.control-center {
  background: @background;
  border-radius: 10px;
  background-clip: border-box;
  padding: 4px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 3px 1px rgba(0, 0, 0, 0.7),
			  0 2px 6px 2px rgba(0, 0, 0, 0.3);
  color: @text;
  border: 2px solid @accent;
}

.control-center-list {
  background: transparent;
}

.floating-notifications {
  background: transparent;
}

/* Window behind control center and on all other monitors */
.blank-window {
  background: transparent;
}

/*** Widgets ***/

/* Title widget */
.widget-title {
  margin: 8px;
  font-size: 1.5rem;
}
.widget-title > button {
  font-size: initial;
  color: @text;
  text-shadow: none;
  background: @background;
  border: 2px solid @accent;
  box-shadow: none;
  border-radius: 8px;
}
.widget-title > button:hover {
  background: @background;
}

/* DND widget */
.widget-dnd {
  margin: 8px;
  font-size: 1.1rem;
}
.widget-dnd > switch {
  font-size: initial;
  border-radius: 8px;
  background: @background;
  border: 1px solid @accent;
  box-shadow: none;
}
.widget-dnd > switch:checked {
  background: @accent;
}
.widget-dnd > switch slider {
  background: @background;
  border-radius: 8px;
  border: 1px solid @text;
}

/* Label widget */
.widget-label {
  margin: 8px;
}
.widget-label > label {
  font-size: 1.1rem;
}

/* Mpris widget */
.widget-mpris {
  /* The parent to all players */
}
.widget-mpris-player {
  padding: 8px;
  margin: 8px;
  background-color: @background;
  border-radius: 8px;
  border: 2px solid @accent;
  color: @text;
}
.widget-mpris-title {
  font-weight: bold;
  font-size: 1.25rem;
}
.widget-mpris-subtitle {
  font-size: 1.1rem;
}